.bg-index{
  background: url("/static/img/background.jpg") no-repeat
    fixed;
  background-size: 100% auto;
}

.navbar a.nav-link {
  color: #FFFEF6 !important;
}

.navbar .navbar-text {
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
}

@media (min-width: 992px) {
  .navbar .navbar-text {
    padding-right: var(--bs-navbar-nav-link-padding-x);
    padding-left: var(--bs-navbar-nav-link-padding-x);
  }
}

.bg-dark {
  background-color: #051E39 !important;
}

.ms-footer {
  background-color: #003D69;
}

.ms-footer p {
  color: #7F7F7F;
  font-size: 13px;
}

.ms-footer a:hover {
  color: #6ab43e;
  text-decoration: none;
}

.ms-footer-bottom span{
  font-size: 13px;
  line-height: 38px;
}

.ms-footer-bottom a {
  color: #8F713D;
  text-decoration: none;
}

.ms-footer-bottom a:hover {
  color: #B39051;
}

.img-card-200 {
  width: fit-content;
  max-width: 100%;
  object-fit: contain;
  max-height: 200px;
}

.img-card-400 {
  width: fit-content;
  max-width: 100%;
  object-fit: contain;
  max-height: 400px;
}