{% extends 'base.html' %}
{% block content %}
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col mx-auto mb-3">
        <h2>Report Review</h2>
        <hr />
        <form method="POST">
          {% csrf_token %}
          <ul class="list-group">
            <li class="list-group-item pb-3 pt-3">
              <h5 class="card-title">
                Review by {{ template_data.review.user.username }} on <strong>{{ template_data.movie.name }}</strong>
              </h5>
              <h6 class="card-subtitle mb-2 text-muted">
                {{ template_data.review.date }}
              </h6>
              <p class="card-text">{{ template_data.review.comment }}</p>
            </li>
          </ul>
          <p>
            <label for="reason">Reason for report:</label>
            <textarea name="reason" required class="form-control" id="reason"></textarea>
          </p>
          <div class="text-start">
            <button type="submit" class="btn btn-danger">
              Report
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}